body{
    background-color: rgb(250, 247, 241);
}

#header{
    display: flex;
    background-color: #d8dff5;
    z-index: 100;
    min-width: 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(212, 212, 212);
    padding-right: 35px;
    padding-top: 10px;
    padding-left: 35px;
    box-shadow: -3px 7px 12px -3px rgba(0,0,0,0.1);
    -webkit-box-shadow: -3px 7px 12px -3px rgba(0,0,0,0.15);
    -moz-box-shadow: -3px 7px 12px -3px rgba(0,0,0,0.3);
}

.right-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
#divider {
    width: 2px; 
    background-color: grey; 
    height: 40px; 
    margin-right: 20px;
    margin-left: 70px;

  }

.hambuger{
    height: 40px;
    /* margin-right: 80px; */
    
}
.hambuger-button{
    background-color: transparent;
    cursor: pointer;
    width: 55px;
    border: 1px solid rgb(206, 205, 205);
    margin-right: 50px;
    /* border: none; */
}

.logo-div{
    position: relative;
}
#logo-img{
    height: 30px;
    margin-right: 6px;
}
#digunec-logo{

    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
    top: -9px;
    color: #012970;
    font-family: "Nunito", sans-serif;
}
#dashboard{
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 1px;
    color: gray;
    font-family: "Nunito", sans-serif;
}
#notification{
    height: 30px;
}

.left-section button{
    border-radius: 50%;
    border: none;
    padding: 8px;
}

#profile-image{
    height: 70px;
    border-radius: 50%;
    margin-left: 30px;
}

@media screen and (max-width: 546px){
    #header{
        padding: 8px;
        height: 80px;
        width: 100%;
        overflow: hidden;
    }
}

@media screen and (max-width: 470px){
    .hambuger{
        height: 27px;
    }
    .hambuger-button{
        width: 45px;
        margin-right: 0;
    }
    #logo-img{
        height: 20px;
    }
    #digunec-logo{
        font-size: 15px;
        position: relative;
        top: -4px;
    }
    #notification{
        height: 15px;
    }
    #profile-image{
        height: 45px;
    }
 #right-body-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 #main-body-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 #Welcome-div{
    width: 100%;
 }
}