body{
    background-color: rgb(236, 236, 236);
}

button{
    cursor: pointer;
}

.gen-div{
    box-shadow: -2px 2px 36px 14px rgba(43,40,40,0.8);
    -webkit-box-shadow: -2px 2px 36px 14px rgba(43,40,40,0.8);
    -moz-box-shadow: -2px 2px 36px 14px rgba(43,40,40,0.8);
    margin: 30px;
     position: relative; 
     border-radius: 20px;
    margin: auto;
    overflow: hidden;
    height: 700px;
    width: 1100px;
    margin-top: 30px;
    margin-bottom: 30px;
}

 .first-div, .second-div { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

}

.second-div{
    font-size: 20px;
}
.visible{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    transition: opacity 2s ease, visibility 2s ease, transform 2s ease;
}


/* Hidden state for sections */
.hidden {
    opacity: 0; /* Fully transparent */
    visibility: none; 
    transform: translateX(-20px);
    transition: opacity 2s ease, visibility 2s ease, transform 2s ease;
}
.card-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.first, .second{
    height: 100%;
    width: 100%;
    text-align: center;
}
.first{
 background-color: white;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding: 30px;
 text-align: center;
 margin-bottom: 80px;
}

.second{
    background-color: #012970;
    color: white;
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input{
    margin-bottom: 30px;
    width: 350px;
    height: 40px;
    border: none;
    font-size: 15px;
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
}
 input::placeholder{
    padding-left: 10px;
    color: rgb(136, 135, 135);
 }

.card-section h2{
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin-bottom: 70px;
}
.button-div{
    font-size: 20px;
}
.second-div{

}
.button-div button{
    border: none;
    color: white;
    background-color: #012970;
    padding: 15px 12px;
    border-radius: 15px;
}

.button-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.button-div a{
    margin-bottom: 30px;
}

.second-card-section{
    border: 2px solid gray;
    display: flex;
    background-color: #012970;
    color: white;
    justify-content: space-around;
    align-items: center;
    width: 900px;
    height: 450px;
    text-align: center;
}

#sign{
    border: 1px solid white;
}

footer{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 750px;
}
@media(max-width:740px){
    .first-div, .second-div{
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .first, .second{
        height: 100%;
        width: 100%;

    }
    .first-div {
        margin-top: 90px;

        
    }
   footer{
    position: relative;
   }
    .gen-div{
        height: 1100px;
        padding: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .visible{
        transform: translateY(0);
    }
    .hidden {
        transform: translateY(-20px);
    }
}
