body{
    background-color: #dfdfe0;
}

.heading{
    margin-top: 120px;
    text-align: center;
}

.heading h1{
    color: #012970;
    font-size:30px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 100px;
}

.motto{
    color: rgb(136, 135, 135);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding-top: 0;
}

.welcomenote{
    color: rgb(68, 68, 68);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    margin-top: 6px;
}

.who{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    line-height: 35px;
    font-weight: 700;
    color: #012970;
    margin-bottom: 0;
    margin-top: 80px;
}

.welcome-flex{
    display: flex;
    justify-content: center;
    align-items: center;

}

.welcome-flex p{
    background-color: #dcdfe9;
    border-radius: 50px;
    cursor: pointer;
    line-height: 25px;
    transition-duration: 0.5s;
}

.welcome-flex-image-div{
    width: 100%;
    height: 300px;
    flex-basis: 150%;
}

.welcome-page-image{
    height: 100%;
    width: 80%;
    object-fit: fill;
    border-radius: 50%;
}

.ourvalue-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-top: 50px;
    padding: 5px;
    margin-top: 20px;
    column-gap: 30px;

}

.colour-grid{
    background-color: #dcdfe9;
    padding: 30px;
    border-radius: 50px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.colour-grid:hover{
    box-shadow: 5px 5px 10px 10px rgba(20, 20, 20, 0.1);
    transform: scale(1.01);
}
.snappic1-div{
    display: flex;
    justify-content: center;
}

.value-p{
    font-size: 25px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    color: #4154f1;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
}

.knownfor-p{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #012970;
    margin-bottom: 10px;
}

.snappic1{
    max-width: 80%;
    height: auto;
    
}

.snappic2{
    max-width: 80%;
    height: auto;
}

.soul-p, .vision-p{
    font-size: 18px;
    color: #012970;
    font-weight: 700;
    text-align: center;
}

.soulwriteup-p, .visionwriteup-p{
    color: rgb(68, 68, 68);
    font-family: "Open Sans", sans-serif;
    font-size:15px;
    font-weight: 400;
    text-align: center;
}


.Service{
    font-size: 20px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    color: #4154f1;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 8px;
}

.last-section-color1{
    background-color: #e4e6f0;
    padding: 10px;
    border-radius: 50px;
}

.Service-time, .Service-time p{
    color: rgb(68, 68, 68);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    margin: 25px;
}

.time-image{
    height: 13px;
}

.callus{
    color: rgb(68, 68, 68);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-top: 0;
    line-height: 20px;

}

.service-section{
    margin-bottom: 50px;
    border: 2px solid grey;
    border-radius: 50%;
    background-color: #e4e6f0;
    width: 95%;
}
.service-sections{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lsts-anchor{
    text-decoration: none;
}

.lsts-anchor:hover{
    text-decoration: underline;
}


@media (max-width:1000px){
    .service-section{
        border-radius:10%;
    }
}
@media (max-width:830px){
   .welcome-flex{
    flex-direction: column;
   }
}
@media (max-width:600px){
    .ourvalue-grid{
        grid-template-columns: 1fr;
    }
}